<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ProductWebServiceSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="ProductWebServiceSoap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://localhost:44379/ProductWebService.asmx"
                binding="basicHttpBinding" bindingConfiguration="ProductWebServiceSoap"
                contract="ProductWebServiceConsumer.ProductWebServiceSoap"
                name="ProductWebServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>